<div class="main">
	<h1>DNA TEST</h1>
	<form form (ngSubmit)="isMutant()" #dnaForm="ngForm" class="text-center">
		<div class="form-group">
			<label>Insert DNA chain</label>
			<p class="error-message" *ngIf="errorFound">{{ errorMessage }}</p>
			<input type="text" 
				class="form-control" 
				[ngClass]="{invalid: errorFound}"
				id="name" 
				required 
				[(ngModel)]="dnaChain" 
				name="name"
				#name="ngModel">
			<div class="delete-btn" *ngIf="dnaChain.length > 0" (click)="clean()">X</div>
		</div>
		<button type="submit" class="btn btn-primary">Validar</button>
	</form>
	<div class="result">
		<table *ngIf="tableMutations.length > 0" class="table">
			<tr *ngFor="let row of tableMutations">
				<td *ngFor="let cell of row">{{ cell }}</td>
			</tr>
		</table>
		<h3 *ngIf="showResults">{{ resultMessage }}</h3>
	</div>
</div>